
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overview &#8212; Yade  documentation</title>
    <link rel="stylesheet" type="text/css" href="_static/pygments.css" />
    <link rel="stylesheet" type="text/css" href="_static/classic.css" />
    
    <script data-url_root="./" id="documentation_options" src="_static/documentation_options.js"></script>
    <script src="_static/jquery.js"></script>
    <script src="_static/underscore.js"></script>
    <script src="_static/doctools.js"></script>
    
    <script src="_static/sidebar.js"></script>
    
    <link rel="shortcut icon" href="_static/yade-favicon.ico"/>
    <link rel="index" title="Index" href="genindex.html" />
    <link rel="search" title="Search" href="search.html" />
 
<style type="text/css">
  table.right { float: right; margin-left: 20px; }
  table.right td { border: 1px solid #ccc; }
</style>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-597021-2']);
  _gaq.push(['_trackPageview']);
</script>

  </head><body>
    <div style="display:none">
    
    \(

\usepackage{euler} % must be loaded before fontspec for the whole doc (below); this must be kept for pngmath, however
\usepackage{hyperref}
\usepackage{amsmath}
\usepackage{amsbsy}
%\usepackage{mathabx}
\usepackage{underscore}
\usepackage[all]{xy}

% Metadata of the pdf output
\hypersetup{pdftitle={Yade Documentation}}
\hypersetup{pdfauthor={Smilauer, V., et al.}}
\hypersetup{pdfkeywords={Discrete element method, granular materials, contact law, hydromechanical coupling}}

% symbols
\renewcommand{\mat}{\boldsymbol}
\renewcommand{\vec}{\boldsymbol}
\renewcommand{\tens}{\boldsymbol}

%normalized and locfram here
\def\normalized#1{\widehat{#1}}
\def\locframe#1{\widetilde{#1}}

% timestep
\def\Dt{\Delta t}
\def\Dtcr{\Dt_{\rm cr}}

% algorithm complexity
\def\bigO#1{{\mathcal{O}(#1)}}

% variants for greek symbols
\let\epsilon\varepsilon
\let\theta\vartheta
\let\phi\varphi

% shorthands
\let\sig\sigma
\let\eps\epsilon

% variables at different points of time
\def\prev#1{#1^-}
\def\pprev#1{#1^\ominus}
\def\curr#1{#1^{\circ}}
\def\nnext#1{#1^\oplus}
\def\next#1{#1^+}

% shorthands for geometry
\def\currn{\curr{\vec{n}}}
\def\currC{\curr{\vec{C}}}
\def\uT{\vec{u}_T}
\def\curruT{\curr{\vec{u}}_T}
\def\prevuT{\prev{\vec{u}}_T}
\def\currn{\curr{\vec{n}}}
\def\prevn{\prev{\vec{n}}}

% motion
\def\pprevvel{\pprev{\dot{\vec{u}}}}
\def\nnextvel{\nnext{\dot{\vec{u}}}}
\def\curraccel{\curr{\ddot{\vec{u}}}}
\def\prevpos{\prev{\vec{u}}}
\def\currpos{\curr{\vec{u}}}
\def\nextpos{\next{\vec{u}}}
\def\curraaccel{\curr{\dot{\vec{\omega}}}}
\def\pprevangvel{\pprev{\vec{\omega}}}
\def\nnextangvel{\nnext{\vec{\omega}}}
\def\loccurr#1{\curr{\locframe{#1}}}

\def\numCPU{n_{\rm cpu}}
\DeclareMathOperator{\Align}{Align}
\DeclareMathOperator{\sign}{sgn}


% sorting algorithms
\def\isleq#1{\currelem{#1}\ar@/^/[ll]^{\leq}}
\def\isnleq#1{\currelem{#1}\ar@/^/[ll]^{\not\leq}}
\def\currelem#1{\fbox{$#1$}}
\def\sortSep{||}
\def\sortInv{\hbox{\phantom{||}}}
\def\sortlines#1{\xymatrix@=3pt{#1}}
\def\crossBound{||\mkern-18mu<}

    \)
    
    </div>
    

    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li><a href="#">Yade</a>&nbsp;|&nbsp;</li>
        <li><a href="index-toctree.html">Documentation</a>
          &raquo;</li>

        <li class="nav-item nav-item-this"><a href="">Overview</a></li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <h1>Welcome to Yade - Open Source Discrete Element Method</h1>
   <p style="font-weight: bold">
	The Yade project is a strong community based entirely on peaceful international cooperations. This diverse foundation has bound us to many brilliant scientisits from Ukraine and Russia who are unjustly affected by the current hostilities perpetrated by Russia on Ukraine. 
	We, the Yade developers and users, hope for the immediate cessation of agression followed by the prompt restoration of peace in Ukraine. We stand with the people of Ukraine, the citizens of Russia, and the thousands of Russian scientists who <a href="https://access2perspectives.org/2022/02/an-open-letter-from-russian-scientists-and-science-journalists-against-the-war-with-ukraine/">vehemently protest this war.</a> As these scientists point out, this unlawful invasion puts many innocent lives at risk in both Ukraine and Russia. Without a doubt, we will continue to keep these Ukranians and Russians in our thoughts as we await a peaceful conclusion ahead. 
  </p>  
  <p>
	Yade is an extensible open-source framework for discrete numerical models, focused on the Discrete Element Method. The computation parts are written in c++ using a flexible object model and allowing independent implementation of new algorithms and interfaces. Python is used for rapid and concise scene construction, simulation control, postprocessing and debugging.
  </p>
  Yade is located at <a href="https://yade-dem.org">yade-dem.org</a>, which contains <a href="https://www.yade-dem.org/doc/">this documentation</a> and <a href="https://www.yade-dem.org/wiki/">wiki</a>. Development is kindly hosted on <a href="http://www.launchpad.net/yade">launchpad</a> and <a href="https://gitlab.com/yade-dev"> GitLab </a>; they are used for <a href="https://gitlab.com/yade-dev/trunk">source code</a>, <a href="https://gitlab.com/yade-dev/trunk/issues">bug tracking</a> and <a href="https://launchpad.net/yade/+download">source</a> downloads</a> and more. Building, regression tests and packages distribution are hosted on servers of the <a href="http://geomec.net/newsletter/">Grenoble Geomechanics group</a>  at <a href="https://www.3sr-grenoble.fr/spip.php?rubrique1">Laboratoire 3SR</a>, <a href="https://gricad.univ-grenoble-alpes.fr">UMS Gricad</a> and <a href="https://pg.edu.pl/">Gdańsk University of Technology</a>.
  </p>
  <p>
  Yade supports <a href="HighPrecisionReal.html#installation"> high precision calculations</a> (following this <a href="https://www.sciencedirect.com/science/article/pii/S0010465521002794">publication</a>) and Python 3 (see <a href="installation.html#python-2-backward-compatibility"> backward compatibility</a> for Python 2). The development branch is on <a href="https://gitlab.com/yade-dev/trunk">GitLab</a>.
  </p>
  <p>
   Please make sure you read the <a href="citing.html">"Acknowledging Yade"</a> section if you plan to cite Yade in publications.
  </p>
  <p>
   This documentation describes Yade version . You can also <a href="http://yade-dem.org/doc/Yade.pdf">download a PDF version</a> of this documentation. 
  </p>
  
 <h2>Yade Community</h2>
 
 <table class="contentstable" align="center" style="margin-left: 30px">
    <tr>
      <td width="50%">
        <p class="biglink"><a class="biglink" href="https://launchpad.net/yade/+announcements">NEWS</a><br/>
           <span class="linkdescr">latest news about Yade project</span></p>
        <p class="biglink"><a class="biglink" href="https://yade-dem.org/wiki/Authors_and_contributors">Authors and contributors</a><br/>
           <span class="linkdescr">information about the people working on Yade</span></p>
        <p class="biglink"><a class="biglink" href="https://www.yade-dem.org/doc/publications.html">Publications</a><br/>
           <span class="linkdescr">on Yade itself or done with Yade</span></p>
        <p class="biglink"><a class="biglink" href="citing.html">Acknowledging Yade</a><br/>
           <span class="linkdescr">How to cite Yade in publications</span></p>
      </td>
      <td width="50%">
        <p class="biglink"><a class="biglink" href="https://yade-dem.org/doc/user.html#getting-help">Public Mailing Lists</a><br/>
           <span class="linkdescr">Getting help and discussions</span></p>
        <p class="biglink"><a class="biglink" href="https://answers.launchpad.net/yade">Questions and answers</a><br/>
           <span class="linkdescr">Users questions, hosted at launchpad</span></p>
        <p class="biglink"><a class="biglink" href="https://discord.gg/rku35YXZJd">Discord server</a><br/>
           <span class="linkdescr">A place to meet, chat, and collaborate</span></p>
        <p class="biglink"><a class="biglink" href=consulting.html>Paid support and Consulting</a><br/>
           <span class="linkdescr">Need professional help?</span></p>
        <p class="biglink"><a class="biglink" href="https://yade-dem.org/doc/tutorial-more-examples.html">Screenshots and videos</a><br/>
           <span class="linkdescr">Simulation examples; feel free to add yours.</span></p>
      </td>
    </tr>
 </table>
 
 <h2>Documentation</h2>

  <table class="contentstable" align="center" style="margin-left: 30px">
    <tr>
      <td width="50%">
        <p class="biglink"><a class="biglink" href="introduction.html">Introduction</a><br/>
           <span class="linkdescr">getting familiar with Yade</span></p>
        <p class="biglink"><a class="biglink" href="tutorial.html">Tutorial</a><br/>
           <span class="linkdescr">first steps with practical <a class="link" href="tutorial-examples.html">examples</a></span></p>
        <p class="biglink"><a class="biglink" href="user.html">User's Manual</a><br/>
           <span class="linkdescr">functionality guide and description</span></p>
        <p class="biglink"><a class="biglink" href="prog.html">Programmer's Manual</a><br/>
           <span class="linkdescr">understanding and modifying the internals of Yade</span></p>
      </td>
      <td width="50%">
        <p class="biglink"><a class="biglink" href="formulation.html">DEM Formulation</a><br/>
           <span class="linkdescr">the Discrete Element Method (DEM)</span></p>
        <p class="biglink"><a class="biglink" href="yade.wrapper.html">Class reference</a><br/>
           <span class="linkdescr">simulation building blocks, c++ &amp; python</span></p>
        <p class="biglink"><a class="biglink" href="modules.html">Yade modules</a><br/>
           <span class="linkdescr">python modules extending Yade</span></p>
        <p class="biglink"><a class="biglink" href="FEMxDEM.html">Multiscale FEMxDEM</a><br/>
           <span class="linkdescr">Parallel coupling using Escript and Yade</span></p>
      </td>
    </tr>
    <tr>
      <td width="50%">
        <p class="biglink"><a class="biglink" href="references.html">References</a><br/>
           <span class="linkdescr">articles cited in the documentation</span></p>
        <p class="biglink"><a class="biglink" href="installation.html">Installation</a><br/>
           <span class="linkdescr">from binaries and sources</span></p>
       <p class="biglink"><a class="biglink" href="index-toctree.html">Full contents</a><br/>
           <span class="linkdescr">with all the details</span></p>
      </td>
      <td width="50%">
        <p class="biglink"><a class="biglink" href="genindex.html">Index</a><br/>
           <span class="linkdescr">all functions, classes, attributes</span></p>
        <p class="biglink"><a class="biglink" href="search.html">Search</a><br/>
           <span class="linkdescr">search the documentation</span></p>
        <p class="biglink"><a class="biglink" href="yadeTechArchive.html">Yade Technical Archive</a><br/>
           <span class="linkdescr">documents written by and for the Yade community</span></p>
      </td>
    </tr>
  </table>

<!--
  <p>
    You can also download PDF versions of the Sphinx documentation:
    a <a href="http://sphinx.pocoo.org/sphinx.pdf">version</a> generated from
    the LaTeX Sphinx produces, and
    a <a href="http://sphinx.pocoo.org/sphinx-rst2pdf.pdf">version</a> generated
    by rst2pdf.
  </p>

  <h2>Examples</h2>
  <p>Links to documentation generated with Sphinx can be found on the
    <a href="examples.html">Projects using Sphinx</a> page.
  </p>
  <p>
    For examples of how Sphinx source files look, use the &#8220;Show
    source&#8221; links on all pages of the documentation apart from this
    welcome page.
  </p>

  <p>You may also be interested in the very nice
    <a href="http://matplotlib.sourceforge.net/sampledoc/">tutorial</a> on how to
    create a customized documentation using Sphinx written by the matplotlib
    developers.</p>

  <p>There is a <a href="http://sphinx-users.jp/doc10/">Japanese translation</a>
    of this documentation, thanks to Yoshiki Shibukawa.</p>

  <h2>Get Sphinx</h2>
  <p>
    Sphinx is available as an <a
    href="http://peak.telecommunity.com/DevCenter/EasyInstall">easy-install</a>able
    package on the <a href="http://pypi.python.org/pypi/Sphinx">Python Package
    Index</a>.
  </p>
  <p>The code can be found in a Mercurial repository, at
    <tt>http://bitbucket.org/birkenfeld/sphinx/</tt>.</p>
-->


            <div class="clearer"></div>
          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="#">
              <img class="logo" src="_static/yade-logo_ukraine.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="search.html" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
      <input type="submit" value="Go" />
    </form>
    </div>
</div>
<script>$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             >index</a></li>
        <li><a href="#">Yade</a>&nbsp;|&nbsp;</li>
        <li><a href="index-toctree.html">Documentation</a>
          &raquo;</li>

        <li class="nav-item nav-item-this"><a href="">Overview</a></li> 
      </ul>
    </div>

    <div class="footer" role="contentinfo">
        &#169; Copyright 2022, Yade development team.
      Created using <a href="https://www.sphinx-doc.org/">Sphinx</a> 4.5.0.
    </div>
  
  </body>
</html>